// COLORS 
$color-grey: #aaa;
$color-grey-dark: #555;
$color-white: #fff;

$color-primary: #e3bfb8;

$color-background: #ddd;
$color-right-col: #f5f5f5;

// WIDTHS 
$width-left-col: 70%;
$page-width: 74rem;
