.content {
    position: absolute;

    &__left {
        float: left;
        width: $width-left-col;
        height: 100%;
        padding: 4rem;
    }

    &__right {
        position: absolute;
        float: right;
        width: 99% - $width-left-col;   
        background-color: $color-right-col;
        height: 100%;
        padding: 4rem;
        right: 1rem;
        
        @include shadow(0.5);
    }
}